        
/* Website Style and Dimensions */
        body {
            margin: 0;
            padding: 0;
            font-family: 'Playfair Display', serif;
            color: white;
}
        h3 {
            font-family: 'Oswald', sans-serif;
            font-size: 50px;
            text-align: center;
            color: black;
            padding: 5px 5px;
}
        .h3w {
            font-family: 'Oswald', sans-serif;
            font-size: 50px;
            text-align: center;
            color: white;
            padding: 5px 5px;
}
        .h3lb {
            font-family: 'Oswald', sans-serif;
            font-size: 50px;
            text-align: center;
            color: #A5A9D3;
            padding: 5px 5px;
}
        .h3pdlb {
            font-family: 'Playfair Display', sans-serif;
            font-size: 50px;
            text-align: center;
            color: #A5A9D3;
            padding: 5px 5px;
}
        .sub {
            font-family: 'Jost', sans-serif;
            text-align: center;
            color: black;
}
        .subos {
            font-family: 'Oswald', sans-serif;
            text-align: center;
            color: black;
}
        .subw {
            font-family: 'Jost', sans-serif;
            text-align: center;
            color: white;
}
        .sublb {
            font-family: 'Jost', sans-serif;
            text-align: center;
            color: #A5A9D3;
}
        p {
            font-family: 'Playfair Display', serif;
            text-align: center;
            color: black;
            line-height: 1.5;}
        .pw {
            font-family: 'Playfair Display', serif;
            text-align: center;
            color: white;
}
        .pjw {
            font-family: 'Jost', sans-serif;
            font-size: 20px;
            text-align: center;
            color: white;
}
               
        .headerbg {
            font-size: 120px;
            font-family: 'Oswald', sans-serif;
            text-align: center;
            padding-down: 10px;
}       
        .headerbgw {
            font-size: 120px;
            font-family: 'Oswald', sans-serif;
            text-align: center;
            padding-top: 20px;
            color: white;
}         
        .headerbglb {
            font-size: 120px;
            font-family: 'Oswald', sans-serif;
            color: #A5A9D3;
            text-align: center;
            padding-down: 10px;
}           
        .subbg {
            font-size: 20px;
            font-family: 'Jost', sans-serif;
            text-align: center;
            padding: 15px 20px;
}     
        .subbgw {
            font-size: 20px;
            font-family: 'Jost', sans-serif;
            text-align: center;
            color: white;
} 
         .cardbg {
            background-color: black;
            padding: 20px;
            width: 100%;
}
         .cardhf {
            background-color: grey;
            width: 55%;
}
         .column {
            float: left;
            width: 50%;
            padding: 0px;
}
         .row::after {
            content: "";
            clear: both;
            display: table;
}
         .mcolumn {
            float: right;
}
        .boverlay {
          z-index:1;
}

/*Yadi Yadi*/
        .flex-container {
            display: flex;
}

        .flex-child {
            flex: 1;
}  
        .flex-child:first-child {
            margin-left: 20%;
} 
        .first {
          flex-basis: 350px;
}

/* Navigation Bar Info */
        /* Main */
        #topNav {
            background-color: white;
            height: 50px;
            text-align: center;
            width: 100%;
            padding-top: 10px;
            margin-right: 60px;
            padding-bottom: 80px;
            position: fixed;
            z-index: 5;
        }
        #topNav li {
            display: inline;
        }
        #topNav a.activenav {
            color: #A5A9D3;
}

        /* Link Style */
        #topNav a {
            display: inline-bl;
            color: #f2f2f2;
            text-decoration: none;
            font-size: 15px;
            color: #818181;
            height: 50px;
            vertical-align: middle;
            margin-right: 60px;
            padding-right: 10px;
            text-decoration: none;
        }
        #topNav a:hover {
            color: #A5A9D3;
        }

        /* Logo Style */
        #topNav a.split {
            text-align: left;
            padding-right: 80px;
            font-family: 'Oswald', sans-serif;
            font-weight: semibold;
            font-size: 30px;
            color: #354751;
            margin-left: 5px;
        }

/* Logo Sidebar Style */
        .sidebar {
            height: 100%;
            width: 70px;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            overflow-x: hidden;
            padding-top: 300px;
        }

        .sidebar a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 20px;
            color: #818181;
            display: block;
        }

        .sidebar a:hover {
            color: #818181;
        }

        @media screen and (max-height: 450px) {
           .sidebar {padding-top: 15px;}
           .sidebar a {font-size: 18px;}
        }

/* Container Video */
        /* Video Style */
        video {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        .video-wrapper {
          width: 88%;
          height: 100%;
          position: relative;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
}
        /* Container */
        .container {position:relative;}
        .container video {
          position:relative;
          z-index:0;
        }
        .overlay {
          position:absolute;
          top:0;
          left:50;
          z-index:1;
}

        .center {
           margin-left: auto;
           margin-right: auto;
}

  /*Typewriter*/
        .typewriter {
          overflow: hidden;
          white-space: nowrap;
          margin: 0 auto;
          letter-spacing: .15em;
          animation: 
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
}

        /* Typing effect */
        @keyframes typing {
          from { width: 0 }
          to { width: 100% }
}
                
